
footer {
    background-color: var(--blackout);
    padding: 30px;
}

.links__title {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: var(--white);
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.footer_socials li {
    border-radius: 50%;
    background-color: #212020;
    border: 1px solid var(--yellow-font);
}

.footer_socials li i {
    padding: 30px;
    font-size: 1.5rem;
    color: 363636;
}

.footer_socials li:hover {
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #3e3d3d;
}

.footer_socials::before {
    position: absolute;
    content: '';
    bottom: -30px;
    height: 5px;
    width: 200px;
    background-color: var(--yellow-font);
}

.footer__comercial {
    text-align: center;
    color: var(--yellow-font);
    font-size: 1.5rem;
    margin: 90px 0;
    font-family: 'Poppins';
}

.social__link {
    text-decoration: none;
    color: var(--yellow-font);
}

@media(max-width: 992px) {

    .footer__comercial {
        font-size: 1rem;
    }

}