.projects {
    padding: 30px;
    display: grid;
    gap: 30px;
    justify-content: center;
    background-color: #151515;
}

.projects__title {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: var(--white);
}

.projects__title span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--yellow-font);
}

.projects__container {
    justify-content: center;
    display: flex;
    gap: 30px;
    display: grid;
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.project__link {
    cursor: pointer;
    font-family: 'Poppins';
    background-color: var(--blackout);
    border: 1px solid var(--yellow-font);
    color: #707070;
    padding: 6px 20px;
}

.project__img {
    cursor: pointer;
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}



@media(max-width: 992px) {

    .projects__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}