.my_resume {
    color: #f7f7f7;
}

.generic_resume {
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: start;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.experience__title {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: var(--white);
}

.experience__title span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--yellow-font);
}

.generic_resume h2 {
    font-family: 'Poppins';
    font-size: 1.5rem;
    background-color: var(--yellow-font);
    justify-self: start;
    padding: 10px;
    border-radius: 1px;
}

.generic_resume h2 i {
    margin-right: 10px;
}

.experience {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
    color: var(--blackout);
}

.education {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
    color: var(--blackout);
}

.experience_content ul {
    color: var(--yellow-font);
    gap: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.generic_resume .experience_content div {
    animation: ladoSecao .5s ease-in-out forwards;
    background-color: #222;
    padding: 40px;
}

.generic_resume .experience_content div span {
    color: var(--yellow-font);
    font-family: 'Poppins';
    font-weight: bold;
}

.generic_resume .experience_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.generic_resume .experience_content div p {
    color: var(--white);
    font-size: 1.1rem;
}


.generic_resume .experience_content div.ativo {
    display: block;
    padding: 40px;
}

.generic_resume .education_content div {
    animation: sobeSecao .5s ease-in-out forwards;
    background-color: #222;
    padding: 20px;
}

.generic_resume .education_content ul {
    color: var(--yellow-font);
    gap: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.generic_resume .education_content div span {
    color: var(--yellow-font);
    font-family: 'Poppins';
    font-weight: bold;
}

.generic_resume .education_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.generic_resume .education_content div p {
    color: var(--white);
    font-size: 1.1rem;
}