.menu {
    background-color: var(--blackout);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu__title {
    color: var(--yellow-font);
    font-size: 2.5rem;
    padding-top: 1.5rem;
}

.menu__title-continuation {
    color: var(--white);
}


.nav__bar {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 2rem;
}

.menu__item .menu__link {
    color: var(--white);
    width: 0px;
    height: 0px;
    font-size: 1.3rem;
}

.menu__link::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}

.menu__link:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid var(--yellow-font);
}

.profile__picture {
    filter: brightness(70%)
}
@media(max-width: 992px) {

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 10px;
    }

    .nav__bar {
        display: flex;
        flex-direction: column;
    }
    
    .cv {
        background-image: url(/assets/Foto_Profissional.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        
    }

    .profile__picture {
        display: none;

    }
}