@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
    --blackout: #000;
    --yellow-font: #fbf01a;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--blackout);
    max-width: 1200px;
    margin: 0 auto;

}