.cv {
    animation: inicializar .7s forwards;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.title__container {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.title__bio {
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
}

.typing {
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
} 

.title__subsection {
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.cv__link {
    justify-self: start;
    color: var(--white);
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid var(--yellow-font);
}


.profile__picture {
    max-width: 100%;
    border-radius: 100%;
}

.typing::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
    }
}


@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

    @media(max-width: 992px) {
    
    .cv {
        background-image: url(/assets/Foto_Profissional.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size:initial;
        padding: 0%;
    }

    .title__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        margin-top: 5.5rem;
    }

    .profile__picture {
        display: none;
    }

    .cv__link {
        width: 10rem;
    }

}
