main {
    background-color: #111;
}

.about {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.about__title {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: var(--white);
}


.title {
    font-size: 2.5rem;
    color: var(--yellow-font);
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}

.subtitle {
    color: var(--light-gray);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.illustrative__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.about__title span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--yellow-font);
}

.about__profile-picture {
    animation: sideSection .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
    border-radius: 100%;
    filter: brightness(50%)
}

.about__profile-picture:hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.about__content {
    animation: upSection .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.about__text {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.about__text-title {
    font-size: 2.3rem;
    color: var(--white);
    grid-column: 1/-1;
}

.about__text-title::after {
    background-color: var(--yellow-font);
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.about__text-main {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
    text-align: justify;
}

.about__info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.about__info i {
    color: var(--yellow-font);
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.about__info p {
    font-size: .9rem;
    color: var(--white);
}

@keyframes upSection {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes sideSection {
    from {
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@media(max-width: 992px) {
  
    .about__info {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: space-between;
    }

    .about__text-main {
        text-align: justify;
    }

    .about__profile-picture {
    display: none;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}


